<mjml>
    <mj-head>
        <mj-font name="Kantumruy" href="https://fonts.googleapis.com/css2?family=Kantumruy&family=Source+Sans+Pro&display=swap" />
    </mj-head>
    <mj-body background-color="#F4F4F4">
        <mj-section background-color="#00A8FF" background-repeat="repeat" padding="20px 0" text-align="center">
            <mj-column>
                <mj-image align="center" padding="10px 25px" src="https://i.imgur.com/WMgYHxb.png" width="128px"></mj-image>
            </mj-column>
        </mj-section>
        <mj-section background-color="#FFFFFF" background-repeat="repeat" padding-bottom="0px" padding-top="0">
            <mj-column width="100%">
                <mj-text align="center" font-size="28px" color="black" font-family="Kantumruy, Source Sans Pro, sans-serif" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="28px">{{hello}},
                    <p style="font-size:16px; color:black"><i>{{fullName}}</i></p>
                </mj-text>
                <mj-text align="center" color="black" font-size="12px" font-family="Kantumruy, Source Sans Pro, sans-serif" padding-left="25px" padding-right="25px" padding-bottom="24px"><i>{{email}}</i></mj-text>

            </mj-column>
        </mj-section>
        <mj-section background-color="#FFFFFF" background-repeat="repeat" padding-bottom="5px" padding-top="0">
            <mj-column width="100%">
                <mj-divider border-color="black" border-width="2px" border-style="solid" padding-left="20px" padding-right="20px" padding-bottom="0px" padding-top="0"></mj-divider>
                <mj-text align="center" font-family="Kantumruy, Source Sans Pro, sans-serif" line-height="28px" color="black" font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="28px" padding-top="28px"><span style="font-size:20px; font-weight:bold">{{thanks_for_registration}}</span>
                    <br />
                    <br />
                    <span style="font-size:15px">{{we_need_to_verify}}</span>
                    <br />
                    <br />
                    <span style="font-size:15px">{{after_verification}}</span>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="#FFFFFF" background-repeat="repeat" padding-bottom="15px">
            <mj-column>
                <mj-text align="center" color="black" font-size="15px" font-family="Kantumruy, Source Sans Pro, sans-serif" padding-left="25px" padding-right="25px" padding-bottom="0px"><strong>{{confirmation_link}}</strong></mj-text>
                <mj-text align="center" color="black" font-size="12px" font-family="Kantumruy, Source Sans Pro, sans-serif" padding-left="25px" padding-right="25px" padding-bottom="0px"><i>{{url}}</i></mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="#FFFFFF" background-repeat="repeat" padding-bottom="20px" padding-top="20px">
        </mj-section>
        <mj-section background-color="#00A8FF" background-repeat="repeat" padding="20px 0" text-align="center">
            <mj-column vertical-align="middle">
                <mj-text align="center" font-size="12px" font-weight="bold" padding="0 25px" font-family="Kantumruy, Source Sans Pro, sans-serif" color="white">
                    <p>Info@sarpheab.com</p>
                </mj-text>
            </mj-column>a
            <mj-column vertical-align="middle">
                <mj-image href="https://mjml.io" src="https://i.imgur.com/WMgYHxb.png" alt="Logo yellow" width="100px" padding="0px"></mj-image>
            </mj-column>
            <mj-column vertical-align="middle">
                <mj-social mode="horizontal" padding="30px">
                    <mj-social-element name="facebook" href="https://www.facebook.com/sarpheabkh"></mj-social-element>
                </mj-social>
            </mj-column>
        </mj-section>
        <mj-section background-color="#ecf0f1" background-repeat="repeat" background-size="auto" padding="20px 0px 20px 0px" text-align="center">
            <mj-column width="100%" padding="0">
                <mj-text color="black" font-family="Kantumruy, Source Sans Pro, sans-serif" font-size="12px" align="center" line-height="24px" align="align">
                    {{you_are_receiving_this_email}}
                </mj-text>
                <mj-text color="black" font-family="Kantumruy, Source Sans Pro, sans-serif" font-size="11px" align="center" line-height="16px">
                    &copy; {{sarpheab_confession_right}}
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section padding-top="0" background-color="#ecf0f1" background-repeat="repeat">
            <mj-group>
                <mj-column width="100%" padding-right="0">
                    <mj-text font-size="11px" font-family="Kantumruy, Source Sans Pro, sans-serif" align="center" line-height="16px" font-weight="bold">
                        <a class="footer-link" href="https://sarpheab.com/privacy">{{privacy}}</a>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;<a class="footer-link" href="https://sarpheab.com/tos">{{tos}}</a>
                    </mj-text>
                </mj-column>
            </mj-group>
        </mj-section>
    </mj-body>
</mjml>
